@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

::selection {
  background: rgba(225, 29, 72, 0.22);
}

html, body, #root {
  height: 100%;
}

body {
  @apply antialiased;
  background-image: theme("backgroundImage.noise");
  background-size: 14px 14px;
}
